.main-container {
  min-height: 100vh;
  background-color: #2C323B;
  color: white;
  border-radius: 15px; 
  padding: 2%; 
  margin: 2%; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header-section h1 {
  font-size: 1.5rem;
}

.header-section .currency-buttons {
  display: flex;
  gap: 0.75rem;
}

.currency-buttons button {
  display: flex;
  align-items: center;
  background-color: #1F2329;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: none;
  border: none;
}

.currency-buttons button img {
  margin-right: 0.5rem;
}

/* Estilos para la sección del balance total */
.balance-section {
  margin-bottom: 2rem;
}

.balance-section h2 {
  font-size: 1.125rem;
}

.balance-section .total-balance {
  font-size: 2.5rem;
  font-weight: bold;
}

/* Estilos para la sección del historial de transacciones */
.transaction-history {
  background-color: #1F2329;
  padding: 1rem;
  border-radius: 0.5rem;
}

.transaction-history .search-container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 1rem;
}

.search-container input[type="text"] {
  background-color: #2C323B;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  color: white;
}

.search-container button {
  background-color: #2C323B;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

/* Añadir contenedor de tabla con desplazamiento horizontal */
.transaction-table-wrapper {
  overflow-x: auto;
}

.transaction-history table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.transaction-history th,
.transaction-history td {
  padding: 0.75rem;
  border-top: 1px solid #2C323B;
  border-bottom: 1px solid #2C323B;
}

.transaction-history th {
  font-weight: bold;
  text-align: left;
}

.transaction-history .currency-type {
  display: flex;
  align-items: center;
}

.transaction-history .currency-type img {
  margin-right: 0.5rem;
}

.transaction-history .amount {
  color: #38A169;
  font-weight: bold;
}

.transaction-history .status {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.transaction-history .status-paid {
  background-color: #38A169;
}

.transaction-history .status-pending {
  background-color: #D69E2E;
}

.transaction-history .status-canceled {
  background-color: #E53E3E;
}

.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin-top: 20px;
}

.no-data-container img {
  width: 200px;
  height: 200px;
}

.no-data-container p {
  font-size: 18px;
  font-weight: bold;
  color: #888;
  text-align: center;
}
.coinImage{
  width: 50px;
  height: 50px;
}
